
.topnav
{
   overflow: hidden; 
   background-color: #A8DADC;
   padding: 20;
}

.topnav a 
{
    float: left;
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px ;
    text-decoration: none;
}

.topnav a:hover
{
    color: #AA1D1D;
    border-bottom: #AA1D1D solid 2px;
}

body{
    background-image: url("Imagens/backgroundcinelaser.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

img{
    width: 100%;
}

div{
    font-size: 20px;
    color: white;
}
.icons {
    width: 3%;
}

footer{
    padding-top: 30%;
    margin-left: 5%;
}