body{
    background-image: url(imagens/fundo.jpeg);
    background-repeat: no-repeat;
   /* background-size: 100%;*/
    margin: 0 auto;
    background-size: cover;
}

.topnav
{
   overflow: hidden;
   background-color: #A8DADC;
   padding: 20;
}

.topnav a 
{
    float: left;
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px ;
    text-decoration: none;
}

.topnav a:hover
{
    color: #AA1D1D;
    border-bottom: #AA1D1D solid 2px;
}
 h2{
    
    color: white;
    font-size: 30px;
 }

 ol{
    
    color: white;
    font-size: 20px;
 }

 .imagem{
    width: 3000000px;
 }

 img{
    width: 250px;
 }
 .imagemalinhadaesquerda {
    float: left;
 }
 .titulo{
   clear: both;
  }
 .titulo h2 {
    text-align: center;
 }

 .imagemalinhadaesquerda{
   margin-right: 14px; ;
 }