
/* Formatando o modo de configuração do box dos elementos  */
* {
    box-sizing: border-box;
}

.topnav
{
   overflow: hidden;
   background-color: #A8DADC;
   padding: 20;
}

.topnav a 
{
    float: left;
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px ;
    text-decoration: none;
}

.topnav a:hover
{
    color: #AA1D1D;
    border-bottom: #AA1D1D solid 2px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
    border-bottom: #ff0000 solid 1px;
    border-bottom-right-radius: 5px;
}


body {
    margin: 0 auto;
    background-image: url(/imagens/WhatsApp\ Image\ 2023-03-10\ at\ 16.07.22.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

div{
    padding-top: 4%;
}


.dias{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border-style: groove;
    border-color: #AA1D1D;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 4%;
    text-decoration: none;
}

a:hover{
    background-color: #ff0000;
    color: white;
    border-bottom: #AA1D1D solid 1px;
    border-bottom-right-radius: 5px;
}

.filmesEmCartaz{
    width: 15%;
    margin-left: 4%;
}

p{
    font-family: arial;
    color: white;
    background-color: #AA1D1D;
    block-size: 40px;
    /* padding-right: 100%; */
}