* {
    box-sizing: border-box;
}

.topnav
{
    overflow: hidden; 
    background-color: #A8DADC;
    padding: 20;
    background-image: linear-gradient(to right, black -90% , #A8DADC);
 
}

.topnav a 
{
    float: left;
    display: block;
    color: #AA1D1D;
    border-bottom: solid transparent 2px;
    color: #FFFFFF;
    text-align: center;
    padding: 14px ;
    text-decoration: none;
    margin-top: 10px;
    font-size: 20px;
}

.topnav a:hover
{
    color: #AA1D1D;
    border-bottom: #AA1D1D solid 2px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
    border-bottom: #ff0000 solid 1px;
    border-bottom-right-radius: 5px;
}


body {
    margin: 0 auto;
    background-image: url("imagens/backgroundcinelaser.png");
    background-repeat: no-repeat;
    background-size: cover;
}

div{
    padding-top: 4%;
}


.dias{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border-style: groove;
    border-color: #AA1D1D;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 4%;
    text-decoration: none;
}

a:hover{
    background-color: #ff0000;
    color: white;
    border-bottom: #AA1D1D solid 1px;
    border-bottom-right-radius: 5px;
}

.filmesEmCartaz{
    width: 15%;
    margin-left: 4%;
}

p{
    font-family: arial;
    color: white;
    background-color: #AA1D1D;
    block-size: 40px;
    /* padding-right: 100%; */
}